@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.title h1{
  padding: 20px;
  margin-left: 20px;
  font-size: 4em;
  font-weight: bold;
}

#estrellas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 50vh;
  margin: 80px;
  margin-top: 10em;
}

.img-estrella {
  width: 300px;
  height: 300px;
  margin: 1px;
  background-color: #7a7a7a;
  transition: transform 0.3s ease;
}	

.img-estrella:hover {
  transform: scale(1.15);
  transition: transform 0.15s ease-in-out;
}

p {
  margin-left: 150px;
  margin-right: 150px;
  font-size: 1.2em;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  width: 80%;
  height: 200px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 4px;
  background-color: #464646;
  font-size: 1em;
  text-align: center;
  line-height: 176px;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.custom-file-upload:hover {
  border-color: #c5c5c5;
  box-shadow: 0 0 5px rgba(85, 85, 85, 0.5);
  outline: none;
}

/* Estilo del texto del botón */
.upload-text {
  color: #fff;
  font-size: 1.2em;
}

.icon {
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 0;
}

.file-name {
  margin: 0;
  font-size: 1.em;
}

#cuadro-fuera {
  border-radius: 30px;
}

#cuadro-dentro {
  border-radius: 25px;
  background-color: #464646;
}